body{
    background-color: powderblue;
    
}
hr{
      border-style: none;
      border-top-style: dotted;
      border-color:grey;
      height: 0;
      width: 5%;
      border-width:5px;
}
h1{
    color:#219F94;
}
h3{
    color:#219F94;
}
